<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Board</h1>
<section>
    <div id="container">
        <div class="new_con">
            <div>
                <h2>
                    <a href="/layout/board/?post=자유게시판">
                        <span class="post_name">자유게시판</span>
                    </a>
                </h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="new_con">
            <div>
                <h2>
                    <a href="/layout/board/?post=유머게시판">
                        <span class="post_name">유머게시판</span>
                    </a>
                </h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="new_con">
            <div>
                <h2>
                    <a href="/layout/board/?post=설문게시판">
                        <span class="post_name">설문게시판</span>
                    </a>
                </h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="new_con">
            <div>
                <h2>
                    <a href="/layout/board/?post=퀴즈게시판">
                        <span class="post_name">퀴즈게시판</span>
                    </a>
                </h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="new_con">
            <div>
                <h2>
                    <a href="/layout/board/?post=사진게시판">
                        <span class="post_name">사진게시판</span>
                    </a>
                </h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>