<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:replace="~{/fragments/nav.html::hdbar}"></div>
<h1 th:text="${post.id}"></h1>
<p th:text="${post.title}"></p>
<span th:utext="${post.content}"></span>

<form th:action="@{/post/modify/{id} (id=${post.id})}" method="GET">
    <button type="submit">수정</button>
</form>
<form th:action="@{/post/delete/{id} (id=${post.id})}" method="POST">
    <button type="submit">삭제</button>
</form>

<footer>
    <div th:replace="~{/fragments/ft.html::ftbar}"></div>
</footer>
</body>
</html>