<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${postId}">첫번째</h1>
    <h1 th:text="${post.id}">두번째</h1>
    <span th:text="${post.content}"></span>

    <form th:action="@{/post/modify/{id} (id=${post.id})}" method="POST">
        <button type="submit">수정</button>
    </form>
    <form th:action="@{/post/delete/{id} (id=${post.id})}" method="POST">
        <button type="submit">삭제</button>
    </form>

</body>
</html>