<div class="tboard" th:fragment="tboardbar">
  <div id="boardContainer">
    <div class="new_con">
      <div>
        <h2>
          <button class="board-button" data-board="freeBoard">자유 게시판</button>
        </h2>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="new_con">
      <div>
        <h2>
          <button class="board-button" data-board="humorBoard">유머 게시판</button>
        </h2>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="new_con">
      <div>
        <h2>
          <button class="board-button" data-board="surveyBoard">설문 게시판</button>
        </h2>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="new_con">
      <div>
        <h2>
          <button class="board-button" data-board="quizBoard">퀴즈 게시판</button>
        </h2>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="new_con last">
      <div>
        <h2>
          <button class="board-button" data-board="photoBoard">사진 게시판</button>
        </h2>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>