<div class="twrite" th:fragment="twritebar">
    <h1 th:text="${post}"></h1>
    <ul>
        <li>
            <div>
                <span>제목을 반드시 입력해주세요.</span>
            </div>
        </li>
        <li>
            <div>
                제목 : <input type="text" id="title" required placeholder="제목"/>
            </div>
        </li>
        <li>
            <div>
                <h4>내용</h4>
                <textarea id="bo_content" rows="10" required></textarea>
            </div>
        </li>
        <li>
            <div>
                <button id="submitButton">글 작성</button>
            </div>
        </li>
    </ul>
    <input type="hidden" id="post" th:value="${post}"/>
    <div th:text="${post}"></div>
    <input type="hidden" id="user_id" value="1"/>
    <input type="hidden" id="board_id" th:value="${board_id}"/>
    <div th:text="${board_id}"></div>
</div>