<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 th:text="${post}"></h1>
<form action="/write" method="post">
<ul>
    <li>
        <div>
            <span>제목을 입력하지 않으시면 내용의 일부를 잘라내어 제목을 자동으로 만들어 줍니다.</span>
        </div>
    </li>
    <li>
        <div>
            제목 : <input type="text" name="title" placeholder="제목"/>
        </div>
    </li>
    <li>
        <div>
            <h4>내용</h4>
            <input type="text" name="content"/>
        </div>
    </li>
    <li>
        <div>
            <button type="submit">글 작성</button>
        </div>
    </li>
</ul>
    <input type="hidden" name="post" th:value="${post}"/>
    <input type="hidden" name="user_id" value="1"/>
    <input type="hidden" name="board_id" value="1"/>
</form>
</body>
</html>