<div class="nav" th:fragment="navbar">
    <h1>Nav</h1>
    <div id="nav-con">

        <div class="nav-child-con">
            <a href="/">첫 페이지로</a>
        </div>
        <div class="nav-child-con">
            <a href="/layout/board">메인으로</a>
        </div>
        <div class="nav-child-con">
            <a href="/layout/board/freeBoard">자유게시판</a>
        </div>
        <div class="nav-child-con">
            <a href="/layout/board/humorBoard">유머게시판</a>
        </div>
        <div class="nav-child-con">
            <a href="/layout/board/surveyBoard">설문게시판</a>
        </div>
        <div class="nav-child-con">
            <a href="/layout/board/quizBoard">퀴즈게시판</a>
        </div>
        <div class="nav-child-con">
            <a href="/layout/board/photoBoard">사진게시판</a>
        </div>
    </div>
    <hr/>
</div>

