<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/board.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/tposts.css">
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <title>Layout</title>
</head>
<body>
<header>
    <div th:replace="~{/fragments/hd.html::hdbar}"></div>
</header>

<nav>
    <div th:replace="~{/fragments/nav.html::navbar}"></div>
</nav>

<main id="layout-main">
    <section id="layout-board">
        <div th:replace="~{layout/tboard.html::tboardbar}"></div>
    </section>
    <section id="layout-login">
        <div th:replace="~{/fragments/login.html::loginbar}"></div>
    </section>
</main>

<footer>
    <div th:replace="~{/fragments/ft.html::ftbar}"></div>
</footer>
<script src="../static/js/tboard.js"></script>
<script src="../static/js/tposts.js"></script>
<script src="../static/js/tpost.js"></script>
<script src="../static/js/twrite.js"></script>
</body>
</html>