<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>POST</h1>
<section>
    <div id="container">
        <div class="new_con">
            <div>
                <h2>자유게시판</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="new_con">
            <div>
                <h2>유머게시판</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="new_con">
            <div>
                <h2>설문게시판</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="new_con">
            <div>
                <h2>퀴즈게시판</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="new_con">
            <div>
                <h2>사진게시판</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>